@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,400&family=Ubuntu:wght@400;500;700&display=swap');
.services{
    margin-top: 30px;
    color: #fff;
    background: #111;
    font-family: "Poppins", sans-serif;
}
.services .title::before{
    background:#fff;
}

.services .serv-content{
    display: flex;    
    text-align: center;
    width: calc(100%);
}

.services .serv-content .card{
    background: #222;
    width: calc(33% - 10px);
    margin: 5px;
    border-radius: 20px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease
}
.services .serv-content .card:hover{
    background: crimson;
}
.services .serv-content .card .box {
    transition: all 0.3s ease
}

.services .serv-content .card:hover .box{
    transform: scale(1.03);
}

.services .serv-content .card i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease
}
.services .serv-content .card:hover i{
    font-size: 50px;
    color: #fff;
}

.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

@media (max-width:880px){
    .services .serv-content{
        display: block;
        width: calc(100%);
                
    }
    .services .serv-content .card {
        width: calc(100%);
        margin-bottom: 20px;
    }
}